.test_main_wrapper
    display: grid
    grid-template-columns: 15% 20% 50% 15%
    grid-template-rows: 5% 5% 5% 5% 20% 60%
    grid-column-gap: 0px
    grid-row-gap: 0px
    height: 100vh

.test__timer
    grid-area: 4 / 3 / 5 / 4
    text-align: right
.test_main_title
    grid-area: 1 / 2 / 2 / 3
    font-size: 22px
    font-weight: 600
.test_main_descr
    grid-area: 3 / 2 / 4 / 3
.test_main_quest
    grid-area: 4 / 2 / 5 / 3
    
.test_main_img
    grid-area: 1 / 3 / 5 / 4
    width: 100%
    display: flex
    justify-content: center
    img
        width: 70%
        height: 100%
        object-fit: contain
.test__center 
    grid-area:  4 / 2 / 7 / 4
    display: flex
    justify-content: center
    align-items: center
    .test__start__btn
        width: 10%
    .test__list
        margin-top: 5vh
        width: 70%
        height: 50%
        .test-submit__wrapper
            display: flex
            justify-content: center
            align-items: center
            height: 100%
        .test__quest
            margin: 12% 10% auto 20%
            
.test-btn
    border-radius: 10px
    margin: 2vh auto
    padding: 0.5vh 2vw
    cursor: pointer
.test__results
    flex-direction: column

.carousel-inner
    height: 100%
    .carousel-item
        height: 100%