.done_test_wrapper 
    display: grid
    grid-template-columns: 1fr 3fr 1fr
    grid-template-rows: 0.1fr 1fr
    grid-column-gap: 0px
    grid-row-gap: 0px  
    


.ul_title 
    backdrop-filter: blur(100px)
    grid-area: 1 / 2 / 2 / 3
.done_test 
    backdrop-filter: blur(100px)
    grid-area: 2 / 2 / 3 / 3
    max-height: 30vh
    overflow-y: auto
    scroll-behavior: smooth
    padding: 1vh 1vw
    background-color: #aeaf9c
    -webkit-border-top-left-radius: 15px
    -webkit-border-bottom-left-radius: 15px
    -moz-border-radius-topleft: 15px
    -moz-border-radius-bottomleft: 15px
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px
    &::-webkit-scrollbar 
        width: 8px
        height: 8px
    
    &::-webkit-scrollbar-track 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
        border-radius: 10px
        background: rgba(0,0,0,0.05)
    
    &::-webkit-scrollbar-thumb 
        border-radius: 10px
        background: #c2c3b6
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8)

    &::-webkit-scrollbar-thumb:hover 
        background: #d5d6c6
        
    .done_test_item
        display: grid
        grid-template-columns: 0.1fr 2fr repeat(2, 0.4fr)
        grid-template-rows: auto
        grid-column-gap: 0px
        grid-row-gap: 0px
        padding: 1vh 0
        .done_test_number
            grid-area: 1 / 1 / 2 / 2
            font-size: 20px
        .done_test_name
            grid-area: 1 / 2 / 2 / 3
            font-weight: 500
            font-size: 20px
        .done_test_stats
            grid-area: 1 / 3 / 2 / 4
        .result_block
            grid-area: 1 / 4 / 2 / 5
            width: 100%
        
