.reg-log__wrapper
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .reg-log__form
    height: 75%
    width: 25%
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: start
    align-items: center
    gap: 1vh
    padding: 2vh 1vw
    border-radius: 15px
    color: #000
  .heigth40
    height: 50%