.create__wrapper
    width: 100%
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    color: #fff 
    form
        display: flex
        flex-direction: column
        justify-content: start
        align-items: center
        gap: 1vh
        background-color: #fff
        padding: 3vh 1vw
        border-radius: 15px
    .create_text
        display: flex
        flex-direction: column
        justify-content: start
        align-items: center
        gap: 0.5vh
    .questions
        display: flex
        flex-direction: column
        justify-content: start
        align-items: center
        gap: 1vh
    .submit_btn
        background-color: #729fdf
        color: #fff   
        font-size: 17px

    .btn__wrapper
        display: flex
        align-items: center
        justify-content: center
        gap: 2vw
        margin-top: 1vh
button 
    font-size: 14px