header 
    display: grid
    grid-template-columns: 10% 70% 20%
    grid-template-rows: 0.2fr
    grid-column-gap: 0px
    grid-row-gap: 0px
    background: rgba(216,193,219,0.2)

.logo_img_wrapper 
    grid-area: 1 / 1 / 2 / 2
    padding: 1vh 1vw
    img
        width: 10vw
.header_menu 
    height: 100%
    margin: 0
    grid-area: 1 / 2 / 2 / 3
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    gap: 1vw
    li
        list-style-type: none
        a
            text-decoration: none
            color: #000
.header_profile_wrapper
    display: flex
    justify-content: end
    align-items: center
    gap: 0.5vw
    padding-right: 0.5vw
    .header_profile 
        width: 100%
        grid-area: 1 / 3 / 2 / 4
        font-size: 26px
        text-align: center
        border-radius: 50%
        background-color: #7a8fb3
        padding: 0.1vh 0.3vw 0.4vh
        margin: 0.6vh 0.4vw 0 auto
